<h1> {{name}} </h1>

<dl>
  <td>Nombre:</td>
  <dd> {{name}} </dd>

  <td>Edad:</td>
  <dd> {{age}} </dd>

  <td>Método:</td>
  <dd>{{getHeroDescription()}}</dd>

  <td>Capitalizado</td>
  <dd>{{capitalizeName}}</dd>

  <button *ngIf="name !== 'Spiderman'" (click)="changeName()" class="btn btn-outline-primary mx-2 ">Cambiar nombre</button>
  <button *ngIf="age !== 25" (click)="changeAge()" class="btn btn-outline-primary mx-2 ">Cambiar edad</button>
  <button *ngIf="age === 25 || name === 'Spiderman'" (click)="resetForm()" class="btn btn-outline-primary mx-2 ">Reset</button>
</dl>
